<!-- Footer -->
<footer class="page-footer center-align">
  <div class="container center-align">
    <div class="row">
      <div class="col l4 offset-6 s12">
        <h3 class="footer-text">bayleafjobs</h3>
        <p class="footer-text">Start your dream career now!</p>
        <a class="btn contact-btn lower" href="{{ url_for('main.contact') }}">Contact us</a>
      </div>
      <div class="col l4 offset-l4 s12">
        <h3 class="footer-text">Useful links</h3>
        <ul>
          <li><a class="footer-text" href="{{ url_for('users.login') }}">Login</a></li>
          <li><a class="footer-text" href="{{ url_for('users.register') }}">Register</a></li>
          <li><a class="footer-text" href="{{ url_for('main.faq') }}">F.A.Q</a></li>
          <li><a class="footer-text" href="{{ url_for( 'main.about' )}}">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container footer-text center-align">
      © 2021 Copyright Mike Avgeros
    </div>
  </div>
</footer>