<!-- Footer -->
<footer class="page-footer center-align">
  <div class="container center-align">
    <div class="row">
      <div class="col l4 offset-6 s12">
        <h4 class="footer-text">bayleafjobs</h4>
        <p class="footer-text">Start your dream career now!</p>
        <a class="btn contact-btn" href="{{ url_for('main.contact') }}"
        aria-label="Go to contact page">Contact us</a>
      </div>
      <div class="col l4 offset-l4 s12">
        <h4 class="footer-text">Useful links</h4>
        <ul>
          <li><a class="footer-text" href="{{ url_for('main.privacy') }}"
            aria-label="Go to privacy page">Privacy</a>
          </li>
          <li><a class="footer-text" href="{{ url_for('main.terms') }}"
            aria-label="Go to terms of service page">Terms of Service</a>
          </li>
          <li><a class="footer-text" href="{{ url_for('main.faq') }}"
            aria-label="Go to frequently asked questions page">F.A.Q.</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container footer-text center-align">
      &copy; 2021 Copyright Mike Avgeros
    </div>
  </div>
</footer>