{% extends 'base.html' %}

{% block content %}
    <main class="container job-grid">
        <ul class="collapsible popout">
            {% for job in jobs_db %}
                <li>
                    <div class="collapsible-header">{{ job.company }} - {{ job.position }}</div>
                    <div class="collapsible-body">
                        {{ job.description}}<br>
                        <br>
                        {{ job.location }} &middot; {{ job.contract }}<br>
                        <br>
                        <strong>{{ job.salary }} a year</strong><br>
                        <br>
                        <a class="waves-effect waves-light btn-small">Apply</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}
