<header>
  <!-- Desktop Top Navbar -->
  <nav>
    <div class="container nav-grid">
      <a href="{{ url_for('main.home') }}" class="brand-logo">
        <img clas src="{{ url_for('static', filename='images/logo.svg')}}" alt="logo" />
      </a>

      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="fas fa-bars"></i>
      </a>

      <ul class="hide-on-med-and-down main-links">
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>
      <ul class="hide-on-med-and-down user-links">
        {% if session.email %}
          <li><a href="{{ url_for('users.profile', username=session['username']) }}">Profile</a></li>
          {% if session.role == "Developer" %}
            <li><a href="{{ url_for('jobs.view_jobs') }}">View Jobs</a></li>
          {% elif session.role == "Recruiter" %}
            <li><a href="{{ url_for('jobs.create_job') }}">Create Job</a></li>
          {% endif %}
          <li><a href="{{ url_for('users.logout') }}">Sign Out</a></li>
        {% else %}
          <li><a href="{{ url_for('users.login') }}">Sign In</a></li>
          <li><a class="btn-large" href="{{ url_for('users.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Mobile Sidenav -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('main.home') }}">Home</a></li>
    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
    {% if session.email %}
      <li><a href="{{ url_for('users.profile', username=session['username']) }}">Profile</a></li>
      {% if session.role == "Developer" %}
        <li><a href="{{ url_for('jobs.view_jobs') }}">View Jobs</a></li>
      {% elif session.role == "Recruiter" %}
        <li><a href="{{ url_for('jobs.create_job') }}">Create Job</a></li>
      {% endif %}
      <li><a href="{{ url_for('users.logout') }}">Sign Out</a></li>
    {% else %}
      <li><a href="{{ url_for('users.login') }}">Sign In</a></li>
      <li><a class="btn-large" href="{{ url_for('users.register') }}">Register</a></li>
    {% endif %}
  </ul>
</header>
