{% extends 'base.html' %} 
{% block title %}F.A.Q.{% endblock title %} 
{% block content %}

<main class="container">
  <div class="col s12">
    <h2 class="center-align section-heading">Frequently Asked Questions</h2>
    <div class="col s12 breakline-row"><hr class="breakline" /></div>
  </div>
  <div class="col s12">
    <h2><span class="question">Q.</span> How can I apply to jobs?</h2>
    <p>
      To apply to a job, you need to register and sign in to you account, then
      click the button 'View all jobs'. Find your favourite job, click apply and
      fill out the required form.
    </p>
    <hr />
    <h2>
      <span class="question">Q.</span> How can I withdraw my application?
    </h2>
    <p>
      You are unable to withdraw any job application you have applied to from the website.
      If you are no longer interested, please contact the recruiter directly.
    </p>
    <hr />
    <h2><span class="question">Q.</span> Shall I contact the recruiter directly?</h2>
    <p>
      We highly recommend to not contact the recruiter directly, but rather use the 
      application form on the website. For any changes to your status or application,
      then you can contact the recruiter directly.
    </p>
    <hr />
    <h2><span class="question">Q.</span> How can I create a job?</h2>
    <p>
      You can only create a job if you register as a recruiter. Once signed in to 
      your account, simply click the button 'Create a job' and fill out the required
      form.
    </p>
    <hr />
    <h2><span class="question">Q.</span> Where can I find the jobs I have applied to?</h2>
    <p>
      You can view all the jobs you have applied to on your personal profile page. 
      Sign in to your account and click 'Profile'.
    </p>
    <hr />
    <h2><span class="question">Q.</span> Where can I find the jobs I have created?</h2>
    <p>
      You can view all the jobs you have created to on your personal profile page. 
      Sign in to your account and click 'Profile'.
    </p>
    <hr />
    <h2><span class="question">Q.</span> How can I edit / delete a job I've created?</h2>
    <p>
      You can view all the jobs you have created to on your personal profile page. 
      Sign in to your account and click 'Profile'. Then simply click on the job you wish to
      update or delete and click the 'Update' or 'Delete' buttons.
    </p>
    <hr />
    <h2><span class="question">Q.</span> Can I edit /cancel my profile?</h2>
    <p>
      Yes you can update or delete your profile by going to your profile page. 
      The update and delete buttons will be at the bottom of your profile card 
      on the left side of the page.
    </p>
  </div>
</main>

{% endblock content %}
