{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<main class="container">

    <!-- Landing Page -->
    <div class="row landing-page">
        <div class="col s5">
            <h1 class="heading">
                More than
                <br>
                job listings
            </h1>
            <p class="sub-heading">Start your dream career now with <span class="underline">bayleafjobs!</span></p>
            <a class="waves-effect waves-light btn-large" href="{{ url_for('users.register') }}">Get Started</a>
        </div>
        <div class="col s7">
            <img class="landing-image" src="{{ url_for('static', filename='images/illustration-working.svg')}}"
                alt="illustration of a group of people around a computer">
        </div>
    </div>

    <div class="divider"></div>

    <!-- About Page -->
    <div class="row about-page">
        <h2 class="center-align section-heading">About us</h2>
        <hr class="breakline">
        <div class="row">
            <br>
            <p>
                Welcome to bayleafjobs. Since our launch in 2021, our focus has been on quality rather than
                quantity. We ensure that all our jobs are well-presented, relevant, and genuine.
                We publish them without irritating advertising banners, Google Ads,
                or any other distractions. We are also free of charge both for candidates and recruiters.
            </p>
        </div>
        <div class="row">
            <br>
            <p>
                As a result, we attract many impressive advertisers – companies from around the world
                that care how their Brand is presented and want only the best for their company
                and many high calibre candidates that help companies grow to their full potential. 
            </p>
        </div>
    </div>

    <div class="divider"></div>

    <!-- How It Works Page -->
    <div class="row about-page">
        <h2 class="center-align section-heading">How it works</h2>
        <hr class="breakline">
        <div class="row">
            <br>
            <h3 class="small-heading">As a developer</h3>
            <ul class="fa-ul">
                <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                </span>Create a profile to find job posts from some of the best companies in the world</li>
                <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                </span>Apply to your favourite jobs and get notified if shortlisted</li>
                <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                </span>Save the jobs you have applied for so you can follow up</li>
            </ul>
        </div>
        <div class="row">
                <br>
                <h3 class="small-heading">As a recruiter</h3>
                <ul class="fa-ul">
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                    </span>Create a profile to post jobs and find the best talent in town</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                    </span>View all the jobs you have created</li>
                    <li class="list-item"><span class="fa-li"><i class="fas fa-check list-icon"></i>
                    </span>Get a notification when a developer applies to your job post</li>
                </ul>
        </div>
    </div>

</main>
{% endblock content %}
