{% extends 'base.html' %} 
{% block title %}Terms of Service{% endblock title %} 
{% block content %}

<main class="container">
  <div class="col s12">
    <h2 class="center-align section-heading">Terms of Service</h2>
    <div class="col s12 breakline-row"><hr class="breakline" /></div>
  </div>
  <div class="col s12">
      <p>
        We take note of the EU General Data Protection Regulation (GDPR); however,
        it’s business as usual here at bayleafjobs. 
      </p>
      <br>
      <p>
        To explain: We have been obsessive about privacy since we launched the site. 
        That’s why we don’t have a CV database, and we don’t ask you for masses of personal
        information when you register (just a username, email address location – and a
        password, which we encrypt).
      </p>
      <br>
      <p>
        We never advertise the site, and we never buy
        email lists – so all our users found us themselves and elected to sign up.
        We don’t work with any social media, and we don’t disclose any details about
        any of our users to anyone, ever. We never send promotional mailings,
        newsletters or any other correspondence to our users. Of course if you apply
        for a job, your details will go to the advertiser, and copies of your cover
        letter and CV remain on our system for your own and the recruiter's use.
      </p>
  </div>
</main>

{% endblock content %}