{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock title %}
{% block content %}

<main class="container">
  <div class="col s12">
    <h2 class="center-align section-heading">Terms of Service</h2>
    <div class="col s12 breakline-row">
      <hr class="breakline" />
    </div>
  </div>
  <div class="col s12">
    <p>
      Your use of <span class="large-font">bayleafjobs</span> is subject to the following terms and
      conditions, which you are deemed to accept each time you use the website:
    </p>
    <br />
    <h3 class="section-subheading">1. Interruptions and Omissions in Service</h3>
    <p>
      Whilst we endeavour to maintain the high standard of this website and its
      continuity, and to correctly process any information or files submitted to
      the site, the internet is prone to occasional instability, and errors,
      omissions, interruptions of service and delays may occur at any time. We
      are not able to accept any liability arising from any such errors,
      omissions, interruptions or delays. Also please note we may vary the
      specification of this site from time to time without notice.
    </p>
    <br />
    <h3 class="section-subheading">2. Information on this Site</h3>
    <p>
      The information on this site is correct to the best of our knowledge. We
      cannot accept any liability arising from any inaccuracy or omission in any
      of the information on this site or any liability in respect of information
      on this site supplied by you, any other site user or any other person.
    </p>
    <h3 class="section-subheading">3. Your Use of this Site</h3>
    <p>
      You may only use this site for lawful purposes when seeking employment or
      placing recruitment advertising relevant to the broadcast, film and music
      sectors. You must not under any circumstances seek to undermine the
      security of the site or any information submitted to or available through
      it. You must not seek to access, alter or delete any information to which
      you do not have authorised access, take any action or use any device,
      routine or software to crash, delay, damage or otherwise interfere with
      the operation of this site or attempt to decipher, disassemble or modify
      any of the software, coding or information comprised in the site. You are
      solely responsible for any information submitted by you to this site. You
      are responsible for ensuring that all information supplied by you is true,
      accurate, up-to-date and not misleading or likely to mislead or deceive
      and that it is not discriminatory, obscene, offensive, defamatory or
      otherwise illegal, unlawful or in breach of any applicable legislation,
      regulations, guidelines or codes of practice or the copyright, trade mark
      or other intellectual property rights of any person in any jurisdiction.
      You are also responsible for ensuring that all information, data and files
      are free of viruses or other routines or engines that may damage or
      interfere with any system or data prior to being submitted to this site.
      We reserve the right to remove any information supplied by you from the
      website at our sole discretion, at any time and for any reason without
      being required to give any explanation.
    </p>
    <br />
    <h3 class="section-subheading">4. Content Rights</h3>
    <p>
      The rights in material on this site are protected by international
      copyright, software and trademark laws and you agree to use this site in a
      way which does not infringe these rights. You may copy material on this
      site for your own private or domestic purposes, but no copying for any
      commercial or business use is permitted.
    </p>
    <br />
    <h3 class="section-subheading">5. Security and Passwords</h3>
    <p>
      To register with this site and to sign in when you visit the site, you
      will need to use a user name and password. You are solely responsible for
      the security and proper use of your password, which should be kept
      confidential at all times and not disclosed to any other person. You must
      notify us immediately if you believe your password is known to someone
      else or if it may be used in an authorised way. We accept no liability for
      any unauthorised or improper use or disclosure of any password.
    </p>
    <br />
    <h3 class="section-subheading">6. Termination</h3>
    <p>
      We may terminate your registration and/or deny you access to the site or
      any part of it (including any services, goods or information available on
      or through the site) at any time in our absolute discretion and without
      any explanation or notification.
    </p>
    <br />
    <h3 class="section-subheading">7. Liability</h3>
    <p>
      We accept no liability for any loss (whether direct or indirect, for loss
      of business, revenue or profits, wasted expenditure, corruption or
      destruction of data or for any other indirect or consequential loss
      whatsoever) arising from your use of the site and we hereby exclude any
      such liability, whether in contract, tort (including for negligence) or
      otherwise. We hereby exclude all representations, warranties and
      conditions relating to this website and your use of it to the maximum
      extent permitted by law. You agree to indemnify us and keep us indemnified
      against all costs, expenses, claims, losses, liabilities or proceedings
      arising from use or misuse by you of this site. You must notify us
      immediately if anyone makes or threatens to make any claim against you
      relating to your use of this site.
    </p>
    <br />
    <h3 class="section-subheading">8. Choice of Law and Jurisdiction</h3>
    <p>
      The use of this website and any agreements entered into through this
      website are to be governed by and construed in accordance with English
      law. The courts of England are to have exclusive jurisdiction to settle
      any dispute arising out of or in connection with the use of this website
      or any agreement made through this website.
    </p>
  </div>
</main>

{% endblock content %}