{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
          <h5 class="center-align top-margins">
            Welcome {{ user.username }}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="center-align">
              This is your personal profile. 
              On this page you will find all the jobs you have applied for
              as well as make changes to your details.
          </p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
