{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
          <h2 class="center-align section-heading">Welcome {{ username.capitalize() }}</h2>
          <div class="col s12 breakline-row"><hr class="breakline" /></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="{{ url_for('static', filename='images/blank-profile-picture.png')}}">
              <span class="card-title">{{ username.capitalize() }}</span>
            </div>
            <div class="card-content">
              <p><strong>Role:</strong> {{ user.role }}</p>
              <br>
              <p><strong>Location:</strong> {{ user.location }}</p>
              <br>
              <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('users.update_profile', username=session['username']) }}" 
              class="waves-effect waves-light btn-small">Update</a>
              <a href="{{ url_for('users.delete_profile', username=session['username']) }}" 
              class="waves-effect waves-light btn-small">Delete</a>
            </div>
          </div>
        </div>
          {% if session.role == "Developer" %}
            <h4 class="center-align section-heading">Jobs you applied for</h4>
            <div class="row">
              {% for application in applications if username|lower == application.application_by|lower %}
                {% for job in jobs if job._id|string == application.applied_for|string %}
                <div class="col s12 m4 offset-m2">
                  <a href="{{ url_for('jobs.view_job', job_id=job['_id']) }}">
                    <div class="card job-card">
                        <div class="card-content white-text">
                          <p>{{ job.company.capitalize() }}</p>
                          <br>
                          <p>{{ job.position.capitalize() }}</p>
                          <br>
                          <p>{{ job.location }} &middot; {{ job.contract }}</p>
                        </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              {% endfor %}
            </div>
          {% elif session.role == "Recruiter" %}
            <h4 class="center-align section-heading">Jobs you posted</h4>
            <div class="row">
              {% for job in jobs if username|lower == job.posted_by|lower %}
                <div class="col s12 m4 offset-m2">
                  <a href="{{ url_for('jobs.view_job', job_id=job['_id']) }}">
                    <div class="card job-card">
                        <div class="card-content white-text">
                          <p>{{ job.company.capitalize() }}</p>
                          <br>
                          <p>{{ job.position.capitalize() }}</p>
                          <br>
                          <p>{{ job.location }} &middot; {{ job.contract }}</p>
                        </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% else %}
          <h1>Error</h1>
          {% endif %}
          <div class="row">
            <div class="col s12 m4">
              <h4 class="center-align section-heading">Information</h4>
              {% if session.role == "Developer" %}
              <p>
                On your profile page you will find all the jobs you have applied for.
                You can follow up the progress of your application by contacting the
                recruiter for the job.
              </p>
              <br>
              <p>
                You can update your profile details and upload a picture by
                clicking the update button. 
                You can delete your profile by clicking the delete button.
              </p>
              {% elif session.role == "Recruiter" %}
              <p>
                On your profile page you will find all the jobs you have applied for.
                You can follow up the progress of your application by contacting the
                recruiter for the job.
              </p>
              <br>
              <p>
                You can update your profile details and upload a picture by
                clicking the update button. 
                You can delete your profile by clicking the delete button.
              </p>
              {% else %}
              <h1>Error</h1>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}
