{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}

<main class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align section-heading">Welcome {{ username }}</h2>
      <div class="col s12 breakline-row"><hr class="breakline" /></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          {% if user.picture %}
            <img class="responsive-img" src="{{ user.picture }}" alt="profile picture">
          {% else %}
            <img class="responsive-img" src="{{ url_for('static', filename='images/blank-profile-picture.png')}}" 
            alt="default profile picture">
          {% endif %}
          <span class="card-title">{{ username }}</span>
        </div>
        <div class="card-content profile-content">
          <p><i class="fas fa-briefcase prefix"></i> {{ user.role }}</p>
          <br>
          <p><i class="fas fa-map-marked-alt prefix"></i> {{ user.location }}</p>
          <br>
          <p><i class="fas fa-envelope prefix"></i> {{ user.email }}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('users.update_profile', username=session['username']) }}" 
          aria-label="Update Profile" class="waves-effect waves-light btn-small ">Update</a>
          <a onclick="return confirm('Are you sure you want to delete your profile?');"
          href="{{ url_for('users.delete_profile', username=session['username']) }}" 
          aria-label="Delete Profile" class="waves-effect waves-light btn-small " 
          style="margin-left: 1rem;">Delete</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 offset-l1">
      <h4 class="center-align section-subheading">Information</h4>
      {% if session.role == "Developer" %}
        <p>
          Hello {{ username }}. On your profile page you will be able to find 
          a list with all the jobs you have applied for.
          You can follow up the progress of your application by contacting the
          recruiter. You can view the email of the recruiter upon opening the full
          job description by clicking on the cards below. 
          Please allow at least 2 weeks before following up. This is 
          to avoid overwhelming the recruiters so that they can reply to all the 
          successful candidates as fast as possible.
        </p>
        <br>
        <p>
          You can update your profile details and upload a profile picture by
          clicking the 'Update' button. 
          You can also delete your profile by clicking the 'Delete' button if you no 
          longer wish to use our services.
        </p>
      {% elif session.role == "Recruiter" %}
        <p>
          Hello {{ username }}. On your profile page you will find a list with 
          all the jobs you have created on this page.
          You can view the applicants' details for each job by opening the full 
          job description on the cards below and clicking on 'Applicants'. We ask
          that you try to contact all applicants to update them on their application progress.
          This way, it can help us attract more talent which in turn will mean that you can 
          find the best developers for your clients.
        </p>
        <br>
        <p>
          You can update your profile details and upload a profile picture by
          clicking the 'Update' button. 
          You can also delete your profile by clicking the 'Delete' button if you no 
          longer wish to use our services.
        </p>
      {% else %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    {% if session.role == "Developer" %}
      <h4 class="center-align section-subheading">Job applications</h4>
      <div class="row">
        {% for application in applications if username|lower == application.applicant|lower %}
          {% for job in jobs if job._id|string == application.job_id|string %}
            <div class="col s12 m6 l4">
              <div class="card job-card z-depth-3">
                <div class="card-content">
                  {% if job.company_logo %}
                    <div class="center-align">
                      <img class="responsive-img" src="{{ job.company_logo }}" alt="company logo">
                    </div>
                  {% endif %}
                  <br>
                  <p><i class="fas fa-user-tie prefix white-text"></i> 
                    {{ job.position }}
                  </p>
                  <br>
                  <p><i class="fas fa-building prefix white-text"></i> 
                    {{ job.company }}
                  </p>
                  <br>
                  <p><i class="fas fa-info-circle prefix white-text"></i> 
                    {{ job.location }} &middot; {{ job.contract }}
                  </p>
                  <br>
                  <p><i class="fas fa-laptop-code prefix white-text"></i>
                    {{ job.level }} &middot; {{ job.stack }}
                  </p>
                  <br>
                  {% if job.salary %}
                    <p><i class="fas fa-money-check-alt prefix white-text"></i>
                        {{ job.salary }}
                    </p>
                    <br>
                  {% endif %}
                  <p class="truncate"><i class="fas fa-info-circle prefix white-text"></i> 
                      {{ job.description }}
                  </p>
                </div>
                <div class="card-action">
                  <a href="{{ url_for('jobs.view_job', job_id=job['_id']) }}" 
                  aria-label="Open full job description"
                  class="waves-effect waves-light btn">More info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% elif session.role == "Recruiter" %}
      <h4 class="center-align section-subheading">Jobs you posted</h4>
      <div class="row">
        {% for job in jobs if username|lower == job.posted_by|lower %}
          <div class="col s12 m6 l4">
            <div class="card job-card z-depth-3">
              <div class="card-content">
                {% if job.company_logo %}
                  <div class="center-align">
                    <img class="responsive-img" src="{{ job.company_logo }}" alt="company logo">
                  </div>
                {% endif %}
                <br>
                <p><i class="fas fa-user-tie prefix white-text"></i> 
                  {{ job.position }}
                </p>
                <br>
                <p><i class="fas fa-building prefix white-text"></i> 
                  {{ job.company }}
                </p>
                <br>
                <p><i class="fas fa-map-marked-alt prefix white-text"></i>
                  {{ job.location }} &middot; {{ job.contract }}
                </p>
                <br>
                <p><i class="fas fa-laptop-code prefix white-text"></i>
                  {{ job.level }} &middot; {{ job.stack }}
                </p>
                <br>
                {% if job.salary %}
                  <p><i class="fas fa-money-check-alt prefix white-text"></i>
                      {{ job.salary }}
                  </p>
                  <br>
                {% endif %}
                <p class="truncate"><i class="fas fa-info-circle prefix white-text"></i> 
                    {{ job.description }}
                </p>
              </div>
              <div class="card-action">
                <a href="{{ url_for('jobs.view_job', job_id=job['_id']) }}"
                aria-label="Open full job description"
                class="waves-effect waves-light btn">More info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  </div>
</main>

{% endblock content %}
