@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --cyan: rgb(43, 208, 208);
    --gray: hsl(0, 0%, 80%);
    --grayish-violet: hsl(257, 7%, 50%);
    --dark-violet: rgb(80, 49, 100);
    --very-dark-violet: rgb(58, 48, 84);
    --very-dark-blue: hsl(255, 11%, 22%);
    --font: 'Poppins', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    width: 100%;
    font-size: 18px;
}

.nav-grid {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 10% 40% 1fr auto;
    grid-template-areas: 
    "logo main . user";
}

.brand-logo {
    display: grid;
    grid-area: logo;
    margin-top: .5rem;
}

.main-links {
    display: grid;
    grid-area: main;
    justify-self: start;
    grid-auto-flow: column;
}

.user-links {
    display: grid;
    grid-area: user;
    justify-self: end;
    grid-auto-flow: column;
}

nav {
    height: 60px;
    line-height: 60px;
    background: none;
    box-shadow: none;
}

ul li a {
    color: var(--grayish-violet);
    font-weight: 500;
    font-size: 18px;
}

nav .brand-logo {
    color: var(--very-dark-violet);
}

.main-links {
    margin-left: 2rem;
}

.btn-large, input[type=submit] {
    background-color: var(--cyan);
    font-weight: 500;
    border-radius: 8px;
}

.btn {
    background-color: var(--cyan);
    font-weight: 500;
    border-radius: 5px;
}

.btn-small {
    background-color: var(--cyan);
    border-radius: 5px;
}

.landing-page, .job-page, .error-page {
    margin: 2rem 0 3rem 0;
}

.heading {
    color: var(--very-dark-violet);
    font-weight: 700;
    font-size: 5rem;
}

.sub-heading {
    color: var(--grayish-violet);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

.landing-image {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

.underline {
    text-decoration: underline;
}

.large-font {
    font-size: larger;
    font-weight: 500;
}

.section-heading {
    color: var(--very-dark-violet);
    font-size: 2.5rem;
    font-weight: 700;
}

.section-subheading {
    color: var(--very-dark-violet);
    font-size: 2rem;
    font-weight: 500;
}

.breakline-row {
    display: grid;
    place-content: center;
}

.breakline {
    width: 100px;
    border: 2px var(--very-dark-violet) solid;
    border-radius: 2px;
    background-color: var(--very-dark-violet);
    margin-bottom: 2rem;
    display: grid;
    place-self: center;
}

.justify-text {
    text-align: justify;
}

.fas {
    color: var(--very-dark-violet);
}

.search-container {
    margin: 4rem 0 2rem 0;
}

.alert {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border: 1px solid var(--very-dark-blue);
    border-radius: 5px;
    background-color: var(--cyan);
    width: 50%;
}

.message {
    display: flex;
    margin-left: 15vw;
}

.close {
    cursor: pointer;
    display: flex;
    border: none;
    background: none;
    margin-left: 15vw;
    font-size: larger;
}

.close:hover {
    color: white;
}

a:hover {
    color: var(--very-dark-blue);
}

li .footer-text {
    color: var(--gray);
}

li .footer-text:hover {
    color: white;
}

.job-card {
    background-color: var(--dark-violet);
    color: white;
    border-radius: 8px;
    font-size: 16px;
}

.job-card:hover {
    background-color: var(--very-dark-violet);
}

.card-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.profile-content {
    font-size: 16px;
    overflow: hidden;
}

.page-footer {
    background-color: var(--very-dark-violet) !important;
    margin-top: 2rem;
}

.contact-btn {
    margin-top: 1rem;
}

@media (max-width: 510px) {
    .btn-large {
        padding: 0 1rem;
        margin-left: 0 !important;
        margin-top: .5rem !important;
    }

    .alert {
        width: 75%;
    }
}
