{% extends 'base.html' %}
{% block title %}Apply{% endblock title %}
{% from "_error_messages.html" import field_error_messages %}
{% block content %}

<main class="container">
    <h2 class="center-align section-heading">Job application</h2>
    <div class="col s12 breakline-row">
        <hr class="breakline" />
    </div>
    <!-- Application Form -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12 m8 offset-m2" method="POST" action="#">
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-business-time prefix"></i>
                    {{ form.notice_period.label }}
                    {{ form.notice_period(class="validate") }}
                    {{ field_error_messages(form.notice_period) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-money-check-alt prefix"></i>
                    {{ form.current_salary.label }}
                    {{ form.current_salary(class="validate") }}
                    {{ field_error_messages(form.current_salary) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-money-check-alt prefix"></i>
                    {{ form.desired_salary.label }}
                    {{ form.desired_salary(class="validate") }}
                    {{ field_error_messages(form.desired_salary) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-laptop-code prefix"></i>
                    {{ form.resume.label }}
                    {{ form.resume(class="validate") }}
                    {{ field_error_messages(form.resume) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope-open-text prefix"></i>
                    {{ form.cover_letter.label }}
                    {{ form.cover_letter(class="validate") }}
                    {{ field_error_messages(form.cover_letter) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    {{ form.submit(class="col s12 btn-large")}}
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock content %}