{% extends 'base.html' %} 
{% block content %}

    <main class="container">
        <h3 class="center-align higher">Create job listing</h3>
        <div class="row card-panel grey lighten-5">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('jobs.upload_job') }}">
                <div class="row lower">
                    <div class="input-field col s12">
                        <i class="fas fa-building prefix"></i>
                        <input id="company" name="company" type="text" class="validate" required>
                        <label for="company">Company</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-tie prefix"></i>
                        <input id="position" name="position" type="text" class="validate" required>
                        <label for="position">Position</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marked-alt prefix"></i>
                        <input id="location" name="location" type="text" class="validate" required>
                        <label for="location">Location</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-money-check-alt prefix"></i>
                        <input id="salary" name="salary" type="text" class="validate" required>
                        <label for="salary">Salary</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix"></i>
                        <select id="contract" name="contract" class="validate" required>
                            <option value="" disabled selected>Contract</option>
                            <option value="full_time">Full Time</option>
                            <option value="part_time">Part Time</option>
                            <option value="freelance">Freelance</option>
                        </select>
                        <label>Select</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-layer-group prefix"></i>
                        <select id="level" name="level" class="validate" required>
                            <option value="" disabled selected>Level</option>
                            <option value="senior">Senior</option>
                            <option value="midweight">Midweight</option>
                            <option value="associate">Associate</option>
                        </select>
                        <label>Select</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-info-circle prefix"></i>
                        <textarea id="description" name="description" class="materialize-textarea validate"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light" type="submit">
                            Submit <i class="far fa-paper-plane prefix"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    
{% endblock content %}
