{% extends 'base.html' %}
{% block title %}View Applicants{% endblock title %}
{% block content %}

<main class="container">
    <div class="row job-page">
        <h2 class="center-align section-heading">View Applicants</h2>
        <div class="col s12 breakline-row">
            <hr class="breakline" />
        </div>
        <div class="row">
            {% if applications %}
            {% for application in applications %}
            <div class="col s12 m5">
                <div class="card job-card z-depth-4">
                    <div class="card-content">
                        <br>
                        <p>Applicant's Name:
                            {{ application.applicant.capitalize() }}
                        </p>
                        <br>
                        <p>Applicant's Email:
                            {{ application.email }}
                        </p>
                        <br>
                        <p>Notice Period:</i>
                            {{ application.notice_period }}
                        </p>
                        <br>
                        <p>Current Salary:</i>
                            {{ application.current_salary }}
                        </p>
                        <br>
                        <p>Desired Salary:</i>
                            {{ application.desired_salary }}
                        </p>
                        <br>
                        <a class="white-text" href="{{ application.resume }}" aria-label="View Resume" target="_blank"
                            rel="noopener">
                            <object data="{{ application.resume }}" width="100%" height="100%">
                            </object>Resume
                        </a>
                        <br>
                        {% if application.cover_letter %}
                        <br>
                        <a class="white-text" href="{{ application.cover_letter }}" aria-label="View Cover Letter"
                            target="_blank" rel="noopener">
                            <object data="{{ application.cover_letter }}" width="100%" height="100%">
                            </object>Cover Letter
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="center-align section-subheading">
                There are no applicants for this job
            </p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}