{% extends 'base.html' %}
{% block title %}View Jobs{% endblock title %}
{% block content %}

    <main class="container">
        <div class="row job-page">
            <h2 class="center-align section-heading">Available jobs</h2>
            <div class="col s12 breakline-row"><hr class="breakline" /></div>
            <!-- job search -->
            <div class="search-container">
                <form method="POST" action="{{ url_for('jobs.filter_jobs') }}">
                    <div class="row card-panel z-depth-3">
                        <div class="input-field col s8">
                            <i class="fas fa-search prefix"></i>
                            <textarea id="search" name="search" class="materialize-textarea validate"></textarea>
                            <label for="search">Search by keyword</label>
                        </div>
                        <div class="input-field col s4">
                            <button class="btn-large waves-effect waves-light" type="submit" name="action">Search
                                <i class="fas fa-search left"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                {% for job in jobs %}
                    <div class="col s12 m5">
                        <div class="card job-card z-depth-4">
                            <div class="card-content">
                                <img class="responsive-img" src="{{ url_for('static', filename='images/empty-office.jpg')}}">
                                <br>
                                <p><i class="fas fa-user-tie prefix"></i> 
                                    {{ job.position }}
                                </p>
                                <br>
                                <p><i class="fas fa-building prefix"></i>
                                    {{ job.company }}
                                </p>
                                <br>
                                <p><i class="fas fa-map-marked-alt prefix"></i>
                                    {{ job.location }} &middot; {{ job.contract }}
                                </p>
                                <br>
                                {% if job.salary %}
                                    <p><i class="fas fa-money-check-alt prefix"></i>
                                        {{ job.salary }}
                                    </p>
                                    <br>
                                {% endif %}
                                <p class="truncate"><i class="fas fa-info-circle fa-lg prefix"></i> 
                                    {{ job.description }}
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{ url_for('jobs.view_job', job_id=job['_id']) }}" 
                                class="waves-effect waves-light btn">More info</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}
