{% extends 'base.html' %}
{% block title %}View Jobs{% endblock title %}
{% block content %}

    <main class="container">
        <div class="row job-page card">
            <h2 class="center-align section-heading">{{ job.company.capitalize() }} - {{ job.position.capitalize() }}</h2>
            <div class="col s12 breakline-row"><hr class="breakline" /></div>
            <div class="card-content">
                <h4>Description</h4>
                <p>{{ job.description}}</p>
                <br>
                <h4>Responsibilities</h4>
                <p>{{ job.salary}}</p>
                <br>
                <h4>Requirements</h4>
                <p>{{ job.requirements}}</p>
                <br>
                <p>{{ job.location }} &middot; {{ job.contract }}</p>
                <br>
                <strong>{{ job.responsibilities }}</strong><br>
                <br>
                <a href="{{ url_for('jobs.apply_to_job', job_id=job['_id']) }}" class="waves-effect waves-light btn-large">Apply</a>
            </div>
        </div>
    </main>

{% endblock content %}
