{% extends 'base.html' %}
{% block navbar %}
  <nav>
    <div class="nav-wrapper transparent">
      <a href="{{ url_for('main.home') }}" class="brand-logo left">bayleafjobs</a>

      <button data-target="mobile" data-beloworigin="true" aria-label="open dropdown menu"
        class="dropdown-trigger hide-on-large-only right">
        <i class="nav-btn fas fa-bars" aria-hidden="true"></i>
      </button>

      <!-- Desktop nav -->
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-item nav-text" href="{{ url_for('main.home') }}">Home</a></li>
        <li><a class="nav-item nav-text" href="{{ url_for('main.home') }}">About</a></li>
        <li><a class="nav-item nav-text" href="{{ url_for('auth.login') }}">Log in</a></li>
        <li><a class="nav-item nav-text" href="{{ url_for('auth.signup') }}">Sign up</a></li>
        <li><a class="nav-item nav-text" href="{{ url_for('main.browse_events_groups')}}">Jobs</a></li>
      </ul>

      <!-- Mobile nav -->
      <ul id="mobile" class='dropdown-content hide-on-large-only z-depth-5'>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a class="nav-item nav-text" href="{{ url_for('main.home') }}">About</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
        <li><a href="{{ url_for('auth.signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('main.browse_events_groups')}}">Jobs</a></li>
      </ul>
    </div>
  </nav>
{% endblock navbar %}
