<header>
  <!-- Desktop Top Navbar -->
  <nav>
    <div class="container nav-grid">
      <a href="#!" class="brand-logo">
        <img src="{{ url_for('static', filename='images/logo.svg')}}" alt="" />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="fas fa-bars"></i
      ></a>
      <ul class="hide-on-med-and-down main-links">
        <li><a href="#">Jobs</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="hide-on-med-and-down user-links">
        <li><a href="#">Login</a></li>
        <li><a class="btn-large" href="#">Register</a></li>
      </ul>
    </div>
  </nav>

  <!-- Mobile Sidenav -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Jobs</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</header>
