{% extends "base.html" %}
{% block title %}Page 404{% endblock %}
{% block content %}

<main class="container">
    <div class="row valign-wrapper error-page">
        <div class="col s12 l7 center-align">
            <img class="responsive-img" src="{{ url_for('static', filename='images/404-error.png')}}"
                alt="Image for page 404">
        </div>
        <div class="col s12 l5 center-align">
            <h1 class="center-align large-font">Oops! Page Not Found</h1>
            <hr class="breakline">
            <p class="large-font">The page you were looking for does not exist.</p>
            <a class="btn contact-btn" href="{{ url_for('main.home') }}"
            aria-label="Go to home page">Go back home</a>
        </div>
    </div>
</main>
{% endblock content %}
